<form class="editForm" data-ng-submit="submitForm()">
    <h2>Edit</h2>
    <div class="formCategory">
        <label>Category</label><br />
        <select data-ng-model="form.category">
            <option value="" selected>Select the category</option>
            <option value="cars">Cars</option>
            <option value="houses">Houses</option>
        </select><br />
    </div>
    <label>Title</label><p> (max. 40 char.)</p><br />
    <input type="text" class="formTitle" placeholder="e.g. Volvo S60" data-ng-model="form.title" maxlength="40" /><br />
    <label>Description</label><p> (350-700 char.)</p><br />
    <textarea class="formDescription" placeholder="Describe the stuff you want to sell" data-ng-model="form.description" maxlength="700" value="item.description"></textarea><br />
    <flex-slider slide="img in form.img">
            <li>
                <img data-ng-src="{{ img }}">
            </li>
        </flex-slider>
    <label>Image</label><p> (1 image min. width 700px)</p><br />
    <input type="file" class="formImage" data-ng-file-select="onFileSelect($files)"><br />
    <div class="formPrice">
        <label>Price(&euro;)</label><p> (max. 9 char.)</p><br />
        <input type="text" placeholder="e.g. 50 or 19.99" data-ng-model="form.price" maxlength="10" /><br />
    </div>
    <div class="contact_information">
        <div class="formCity">
            <label>City</label><br />
            <select data-ng-model="form.city">
                <option value="" selected>Select the city</option>
                <option value="Helsinki">Helsinki</option>
                <option value="Turku">Turku</option>
            </select><br />
            <label>Telephone number</label><p> (max. 10 char.)</p><br />
            <input type="text" class="formPhone" placeholder="e.g. 0461112233" data-ng-model="form.phone" maxlength="10" /><br />
        </div>
        <label>Name</label><p> (max. 30 char.)</p><br />
        <input type="text" class="formTitle" placeholder="e.g. Pavel Bure" data-ng-model="form.name" maxlength="30" /><br />

        <label>E-mail</label><p> (max. 70 char.)</p><br />
        <input type="text" class="formEmail" placeholder="e.g. tori@tori.oi" data-ng-model="form.email" maxlength="70" /><br />
    </div>
    <div class="formButton">
        <button type="submit" data-icon="&#xe60a;" data-ng-click="send()"></button>
        <button type="submit" data-icon="&#xe609;" data-ng-click="cancel()"></button>
    </div>
</form>
