<div class="info">
    <div class="price_container">
        <p>{{ item.price | currency: '&euro;' }}</p>
    </div>
    <h2>{{ item.title }}</h2>
    <p class="subheading">{{ item.city }} / {{ item.created | date:'MMMM d, yyyy'}}</p>
    <div class="img_container">
        <flex-slider slide="img in item.img">
            <li>
                <img data-ng-src="{{ img }}">
            </li>
        </flex-slider>
    </div>
    <div class="desc_container">
        <p>{{ item.description }}</p>
    </div>
    <div class="contacts_container">
        <div>
            <p>{{ item.name }}</p>
            <p>tel. {{ item.phone }}</p>
        </div>
    </div>
    <div data-ng-if="user()" class="un_buttons">
        <button data-icon="&#xe60a;" data-ng-click="approve(item._id)"></button>
        <button data-icon="&#xe609;" data-ng-click="delete(item._id)"></button>
    </div>
</div>